<section class="m-5 ">
    <!-- Titulo del formulario buscar Comprobante -->
    <p class="text-gray-500 text-base font-bold md:text-tiny mb-2 justify-center flex">LOS PIPES</p>
    <div class=" rounded-lg shadow-md border p-2  w-auto overflow-x-auto ">
        <table class=" text-xs  pb-9 w-full ">
            <thead class=" bg-black text-white ">
                <tr class="uppercase  ">
                    <th class="  border  px-24 p-3">Variable</th>
                    <th class="  border  px-24 p-3">Pipes</th>
                    <th class="  border  px-24 p-3">Salida</th>

                </tr>
            </thead>
            <tbody class="text-base">
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado</td>
                    <td> {{nombre2 | capitalizado }} </td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td> {{nombre | uppercase}} </td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td> {{nombre | lowercase}} </td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td> {{nombre | slice:3}} </td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td> {{nombre | slice:0:3}} </td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td> PI</td>
                    <td> {{PI }} </td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>PI | number</td>
                    <td> {{PI |number}} </td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td> 'PI |number:'1.0-0' </td>
                    <td> {{PI |number:'1.0-0'}} </td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td> 'PI |number:'3.0-0' </td>
                    <td> {{PI |number:'3.0-0'}} </td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td> 'PI |number:'.0-2' </td>
                    <td> {{PI |number:'.0-2'}} </td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td> percent </td>
                    <td> {{porcentaje | percent}} </td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td> percent 2.2-2 </td>
                    <td> {{porcentaje | percent:'2.2-2'}} </td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td> currency </td>
                    <td> {{salario | currency}} </td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td> currency:'EUR' </td>
                    <td> {{salario | currency:'EUR'}} </td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
                    <td> {{salario | currency:'CAD':'symbol-narrow':'.0-0'}} </td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td> asycn </td>
                    <td> {{valorPromesa | async}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date </td>
                    <td> {{fecha | date}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date:'medium' </td>
                    <td> {{fecha | date:'medium'}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date:'short' </td>
                    <td> {{fecha | date:'short'}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date:'MMMM - dd' </td>
                    <td> {{fecha | date:'MMMM - dd'}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date:'MMMM - dd':'':'en' </td>
                    <td> {{fecha | date:'MMMM - dd':'':'en'}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td> date:'MMMM - dd':'':'fr' </td>
                    <td> {{fecha | date:'MMMM - dd':'':'fr'}} </td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>
                        date:'MMMM - dd':'':{{idioma}}
                        <br>
                        <button (click)="idioma='es'" class="bg-blue-600 hover:bg-blue-700 mr-1 text-white px-4 py-2 rounded-md focus:outline-none">Español</button>
                        <button (click)="idioma='en'" class="bg-gray-600 hover:bg-gray-700 mr-1 text-white px-4 py-2 rounded-md focus:outline-none">Inglés</button>
                        <button (click)="idioma='fr'" class="bg-green-600 hover:bg-green-700 mr-1 text-white px-4 py-2 rounded-md focus:outline-none">Francés</button>
                    </td>
                    <td> {{fecha | date:'MMMM - dd':'':idioma}} </td>
                </tr>


            </tbody>
        </table>
        <!-- <ul>
            <li *ngFor="let item of arreglo | slice:5:20"> {{item}} </li>
        </ul> -->
    </div>

    <h3 class="font-bold text-lg tracking-wide">Slice <small class="text-sm font-normal tracking-normal">slice:1:4</small> </h3>
    <hr>
    <ul>
        <li *ngFor="let personaje of personaje | slice:1:4" class="list-group-item">{{personaje}}</li>
    </ul>
    <h3 class="font-bold">JSON</h3>
    <hr>
    <div class="">
        <div class="col"></div>
        <pre>
            {{heroe | json}}
        </pre>

    </div>



</section>